body{
    background: linear-gradient(90deg, #FC466B, #3F5EFB);
}
#creationForm{
    position: relative;
    left: 40%;
    width: 300px;
    top: 200px;
    padding: 3em;
    height: 320px;
    border-radius: 20px;
    border-left: 1px solid white;
    border-top: 1px solid white;
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    opacity: 0.1;
}
#creationForm #textinput{
    width: 300px;
    border: 0px;
    opacity: 0.9;
    background-color: transparent;
}
