doctype html
html(lang="en")
    block head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./css/index.css
        title blog Node
    block body 
    nav
        a(id="homeNav") Home 
        a(id="postNav") Post
        a(id="profileNav", href=routeStatus)= status
    h1 Hello